body {
    background-color: cornflowerblue;
}

.div {
    margin: 2px;
}

.wall {
    display: flex;
    flex-direction: column;
}

.header {
    text-decoration-color: aqua;
    text-align: center;
}

.wall2 {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 600px;
    width: 900px;
}

.meny {
}

.meny ul li a {
    text-decoration: none;
}
